

/* General */

body {
  background-color: #F4F5F7;
  padding-bottom: 5%;
  max-width: 1600px;
  margin: 0 auto;
}

.upper {
  text-transform: uppercase;
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}

/*
.shadow:hover {
      box-shadow: 0 2px 4px 2px rgba(207,207,207,0.50);
}
*/

.bg-white {
  background-color: #fff;
}

.bg-blue {
  background-color: #49A1B8;
}

.bg-blue* {
  color: #fff;
}

.img-frame {
  margin-left: -15px; 
  margin-right: -15px;
}

.center {
  margin: 0 auto;
}

.pt-100 {
  padding-top: 100px;
}

.br-10 {
  border-radius: 10px;
}

.h-15 {
  height:15rem;
}

 .active {
    color: #D0021B;

  }


/* A-Spot */

.caption {
    bottom: 0;
    position: absolute;
    background:#000;
    background: -webkit-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
}

.a-spot-image {
    border: 0 none;
    margin:0;
    padding:0;
    min-height: 325px;
    max-height: 500px;
    overflow: hidden;
    position: cover;
}

/* Buttons */

.btn {
  border-radius: 0;
}

.btn.focus, .btn:focus {
box-shadow: 0 0 0 2px rgba(73,161,184,.25)
}

.btn-primary {
  background-color: #49A1B8;
  border-color: #49A1B8;
}

.btn-primary:hover {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}

.btn-primary.active, 
.btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #49A1B8;
    background-image: none;
    border-color: #49A1B8;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #49A1B8;
  color: #49A1B8;
}

.btn-outline-primary:hover {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}

.btn-outline-primary.active, 
.btn-outline-primary:active, 
.show>.btn-outline-primary.dropdown-toggle {
   color: #fff;
   background-color: #49A1B8;
   border-color: #49A1B8;
   opacity: .8;
}

.btn-danger {
    color: #fff;
    background-color: #D0021B;
    border-color: #D0021B;
}



/* Basic */


a {
  cursor: pointer;
  color: #626262;
  text-decoration: none;
}

a:focus, a:hover {
   opacity: .8;
   color: #626262;
 }

.no-line {
  text-decoration: none;
}

.blue-link {
  color: #49A1B8;
}

.blue-link:focus, .blue-link:hover {
  color: #49A1B8;
}


.white-link {
  color: #fff;
}

.white-link:focus, .white-link:hover {
  color: #fff;
}

.underline {
  text-decoration: underline;
}
  
  


/* Badge */

.badge {
  border-radius: 0;
  padding: .4em .6em;
  font-weight: 500;
  color: #fff;
}

.badge-silver {
  background-color: #AFBEC0;
}

.badge-gold {
background-color: #C6B677;
}

.badge-blue {
background-color: #49A1B8;
}


.badge-notification {
border-radius: 8px;
padding: .4em .8em;
margin-left: .4em;
}



/* Cards */

.w-20 {
  width: 20rem;
}

.w-23 {
  width: 23rem;
}

.card {
border: 0px solid rgba(255,255,255,.125);
border-radius: 0rem;
}

.card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card .card-title{
  font-weight: 700;
}

.card .card-text {
  font-weight: 100;
}


.card-header {
  background-color: #E8ECEF;
}

/* Inputs */
.input-group-addon {
  border-radius: 0;
}

.input-group-addon.form-control-lg, 
.input-group-lg>.input-group-addon, 
.input-group-lg>.input-group-btn>.input-group-addon.btn {
  border-radius: 0;

}

.card-header {
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 0px solid rgba(0,0,0,.125);
}



/* Lines */

.gray-line {
border-bottom: 2px solid #F4F5F7;
}


.dotted-line-lg {
  border-bottom: 5px dotted #F4F5F7;
}

.dotted-line-sm {
  border-bottom: 2px dotted #F4F5F7;
}






/* Lists */
.list-group-item:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.list-group-item:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.list-group-item {
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.list-group-item:first-child {
  border-top: 0;
  }

.list-group-item.active {
    background-color: #49A1B8;
    border-color: #49A1B8;
  }




  
/* Tables */

table {
  margin-bottom: 0rem;
}
  
  

/* Forms */

.form-control {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.05);
}



.form-control-lg {
  border-radius: 0;
}

.custom-select {
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 0rem;
}
  


/* Navigation */
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-top: 1rem;
}




/* Navs */

.nav-tabs .nav-link {
  color: #979797;
}

.nav-tabs .nav-link:hover {
  color: #49A1B8;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #49A1B8;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

a .nav-link {
  color: #979797
}
  

.dropdown-menu {
    color: #292b2c;
    border: 0px solid rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
    border-radius: 0rem;
  }

.dropdown-toggle-big::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0em;
    vertical-align: middle;
    content: "";
    border-top: .7em solid;
    border-right: .7em solid transparent;
    border-left: .7em solid transparent;
}


